services:
  catalogdb:
    image: mongo:latest
  catalog:
    image: ${DOCKER_REGISTRY-}catalog
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
volumes:
  mongo_data:
